@charset "UTF-8";

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

#aboutme-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    min-height: 100%;
	color: #FFFFFF;
	background-color: #FFFFFF;
}

a:link {
	color: #10F902;
}

a:visited {
	color: #FEFF00;
}

a:hover {
	color: #FE9100;
	text-decoration: none;
}
a:active {
	color: #7298F7;
}

table {
	background-color: #0043FF;
}

table tr td {
    color: #FFFFFF;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 100%;
    position: static;
}