@charset "UTF-8";

body, html {
	padding: 0;
	margin: 0;
	height: 100%;
}

#universe-wrapper {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 960px;
    min-height: 100%;
    color: #FFFFFF;
    background-color: #FFFFFF;
}
body {
    background-color: #FFFFFF;
}

a:link {
	color: #FFE200;
}

a:visited {
	color: #14FF00;
}

a:hover {
	color: #00FFF4;
	text-decoration: none;
}
a:active {
	color: #FF8400;
}

table {
    background-color: #064600;
}

table tr td {
    color: #FFFFFF;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-style: oblique;
    font-weight: 100;
    font-size: 100%;
    position: static;
}
